# ----------------------------------------------------------------
# 1. Entorno y Credenciales 
# ----------------------------------------------------------------
.env
.venv/
*.local

# ----------------------------------------------------------------
# 2. Archivos de Proyecto Django / Python
# ----------------------------------------------------------------
__pycache__/
*.pyc
*.py[cod]
db.sqlite3
*.sqlite3

# ----------------------------------------------------------------
# 3. Archivos subidos por el usuario 
# ----------------------------------------------------------------
media/

# ----------------------------------------------------------------
# 4. Archivos estáticos recolectados
# ----------------------------------------------------------------
staticfiles/

# ----------------------------------------------------------------
# 5. Archivos de SO y Editores 
# ----------------------------------------------------------------
.DS_Store
.idea/
.vscode/

# ----------------------------------------------------------------
# 6. Logs y Reportes
# ----------------------------------------------------------------
*.log
*.tmp
*.temp

# ----------------------------------------------------------------
# 7. Archivos de testing
# ----------------------------------------------------------------
.pytest_cache/
htmlcov/